<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head"/>
<body>
<div id="wrapper">
    <nav th:replace="common::top-navigation"/>
    <nav th:replace="common::slide-navigation"/>

    <div id="page-wrapper" >
        <div class="header">
            <h1 class="page-header">
                Tables Page <small>Responsive tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data</li>
            </ol>

        </div>

        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <!--    Context Classes  -->
                    <div class="panel panel-default">
                        <!--/*@thymesVar id="items" type="List<com.jacoli.DO.ItemDO>"*/-->
                        <div class="panel-heading">
                            查询到记录条数:<em th:text="${items.size()}">0</em>
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>创建时间</th>
                                        <th>修改时间</th>
                                        <th>标题</th>
                                        <th>图片</th>
                                        <th>价格</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--/*@thymesVar id="items" type="List<com.jacoli.DO.ItemDO>"*/-->
                                    <tr th:each="item : ${items}">
                                        <!--/*@thymesVar id="item" type="com.jacoli.DO.ItemDO"*/-->
                                        <td th:text="${item.getId()}">1</td>
                                        <td>
                                            <span th:text="${#calendars.format(item.created_at, 'yyyy.MM.dd')}"></span>
                                            <br/>
                                            <span th:text="${#calendars.format(item.created_at, 'HH:mm:ss')}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#calendars.format(item.getModified_at(), 'yyyy.MM.dd')}"></span>
                                            <br/>
                                            <span th:text="${#calendars.format(item.getModified_at(), 'HH:mm:ss')}"></span>
                                        </td>
                                        <td th:text="${item.title}">标题</td>
                                        <td>
                                            <img th:src="${item.getPicUrl()}" class="img-rounded" />
                                        </td>
                                        <td th:text="${item.getPriceInCent()}">价格</td>
                                        <td>
                                            <a href="create_item.html" th:href="@{create_item(id=${item.getId()})}">
                                                <button class="btn btn-info info-item" th:attr="item-id=${item.getId()}">查看</button>
                                            </a>
                                            <button class="btn btn-danger delete-item" th:attr="item-id=${item.getId()}">删除</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  end  Context Classes  -->
                </div>
            </div>
        </div>
        <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="assets/js/dataTables/jquery.dataTables.js"></script>
<script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();


        $('.delete-item').click(function () {
            var itemId = $(this).attr("item-id");
            if (itemId === undefined || itemId == '') {
                alert("无法获取抽佣条目ID【commissionId】!");
                return;
            }
            $.post("/items/delete", {id: itemId}, function (result) {
//
//                if (result.succ) {
//                    alert('操作成功!');
//                    window.location.reload();
//                } else {
//                    alert(result.message);
//                }
                window.location.reload();
                alert('操作成功!');
            });
        });
    });
</script>
<!-- Custom Js -->
<script src="assets/js/custom-scripts.js"></script>

</body>
</html>
